@media (min-width: 1490px) {
  .news-section {
    padding-top: 83px;
    padding-bottom: 104px;
  }

  .news-section__list {
    width: 1490px;
    flex-direction: row;
    margin: 0 auto;
  }

  .news-section__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }

  .news-section__video {
    padding-bottom: 76%;
  }

  .news-section__title {
    margin-top: 31px;
    font-size: 17px;
    line-height: 23px; 
    letter-spacing: 0.055em;
  }

  .news-section__desc {
    margin-top: 25px;
    height: 72px
  }

  .news-section__date {
    margin-top: 23px;
  }
}