@media (min-width:1490px) {
  .c-calendar__button {
    transition: 0.2s linear;

    &:hover {
      background-color: transparent;
      color: $calendar-btn-color;
      transition: 0.2s linear;
    }
  }
}
