@media (min-width:1200px) {
  .c-calendar__button {
    font-size: 13px;
    padding: 18px 24px;
    transition: 0.2s linear;

    &:hover {
      transform: scale(1.1);
      transition: 0.2s linear;
    }
  }
}
