@media (min-width:1490px) {
  .l-calendar__content {
    width: 926px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;

    &::after {
      content: "";
      display: block;
      background-color: $secondary-white-color;
      opacity: 0.2;
      height: 1px;
      width: 925px;
      margin: 85px 0 35px;
    }
  }

  .l-calendar__content:last-of-type::after {
    content: '';
    margin: 0;
    height: 0;
    width: 0;
  }
}
