// PRIMARY COLORS //
$primary-dark-color: #000000;
$primary-white-color: #ffffff;

// SECONDARY COLORS //
$secondary-dark-color: #2e2e2e;
$secondary-white-color: #777777;

// ELEMENTS COLORS //
$banner-button-color: #ff6c45;
$icons-color-fill: #24c1d2;
$calendar-btn-color: #17becf;
$footer-bg-color: #18bed0;
$copyright-color: #12818e;
$calendar-title-color: #222222;

// FONTS //
$primary-font-stack: "Exo 2", sans-serif;
$desc-font-stack: "Open-Sans", sans-serif;
$logo-font-stack: 'Montserrat', sans-serif;
