@media (min-width: 1200px) {
  .icon-section-item:nth-child(n + 3) {
    padding-top: 5px;
  }

  .icon-section__item:nth-child(-n+2) {
    border-bottom: none;
  }

  .icon-section__item:not(:last-child) {
    border-right: 1px solid rgb(241, 241, 241);
  }

  .icon-section-item__svg {
    margin-bottom: 25px;
  }

  .icon-section-item__name {
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
}
