@media (min-width: 768px) {
  .icon-section--list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 48px;
  }

  .feauter-icons {
    transform: translate(35px, 39px);
  }

  .icon-section__item {
    padding-top: 131px;
    width: 297px;
    @media (max-width: 1199px) {
      &:nth-child(-n+2) {
        padding-bottom: 30px;
      }
    }
  }
  @media (max-width: 1199px) {
    .icon-section__item:not(:nth-child(even)) {
      border-right: 1px rgb(241, 241, 241) solid;
    }

    .icon-section__item:nth-child(-n + 2) {
      border-bottom: 1px rgb(241, 241, 241) solid;
    }

    .icon-section__item:nth-child(n + 3) {}
  }

  .icon-section__name {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
}
