@media (min-width: 1490px) {
  .l-header {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  .l-menu {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
  }
}
