@media (min-width: 1490px) {
  .c-menu__link {
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    color: $header-text-color;
    opacity: 0.6;

    &:hover .c-submenu-list {
      display: none;
    }
  }
}
