@media (min-width: 1490px) {
  .l-submenu-list {
    position: absolute;
    width: 215px;
    background-color: $primary-white-color;
    top: 23px;
    z-index: 0;
    transform: translateX(-36%);
  }
}
