.c-logo {
  font-size: 19px;
  color: $secondary-dark-color;
  text-transform: uppercase;
  font-family: $logo-font-stack;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
}
