.c-banner--background {
  background-image: url("../img/banner-bgrnd_772x580.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
    background-image: url("../img/banner-bgrnd_772x580@x2.jpg");
  }
}

.l-banner__box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 584px;
  max-width: 504px;
  flex-wrap: wrap;
  @media(max-width: 1199px) {
    margin-right: auto;
    margin-left: auto;
  }
}

.c-banner__logo {
  font-family: $logo-font-stack;
  font-weight: bold;
  font-size: 50px;
  color: $primary-white-color;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  cursor: pointer;
}

.c-banner__text {
  font-family: $primary-font-stack;
  color: $primary-white-color;
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  padding-top: 23px;
  margin-bottom: 37px;
}

.c-banner__btn {
  font-family: $primary-font-stack;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primary-white-color;
  cursor: pointer;
  background-color: $banner-button-color;
  border: 3px solid $banner-button-color;
  padding: 14px 40px 14px 10px;
  letter-spacing: 1.5px;
  transition: 0.2s linear;

  &:hover {
    background-color: transparent;
    border-radius: 25px;
    color: $banner-button-color;
  }

  &::after {
    position: relative;
    left: 5px;
    top: 3px;
    display: inline-block;
    line-height: 1px;
    content: " \2192 ";
    margin-left: 14px;
    font-size: 35px;
    z-index: 1;
  }
}
