.banner-section--background {
    background-image: url('../../../img/banner-bgrnd_772x580.jpg');
    width: 100%;
    height: calc(100vh - 80px);
    min-height: 315px;
    max-height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;

    @media (min-resolution: 2dppx), (min-resolution: 192dpi) {
        background-image: url('../../../img/banner-bgrnd_772x580@x2.jpg');
    }
}
.banner-section__logo {
    font-family: $logo-font-stack;
    font-weight: bold;
    font-size: 50px;
    color: $primary-white-color;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -2.7px;
    word-spacing: 2px;
    padding-top: 100px;
}
.banner-section__text {
    font-family: $primary-font-stack;
    color: $primary-white-color;
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    padding-top: 23px;
    margin-bottom: 37px;
}
.banner-section__btn {
    font-family: $primary-font-stack;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: $primary-white-color;
    cursor: pointer;
    background-color: $banner-button-color;
    padding: 17px 10px;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 241px;
    letter-spacing: 1.5px;
        
    &::after {
        position: relative;
        left: 5px;
        top: 3px;
        display: inline-block;
        line-height: 1px;
        content: " \2192 ";
        margin-left: 14px;
        font-size: 35px;
        z-index: 1;
    }
}


