@media (min-width:1490px) {
  .l-calendar-content {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 1532px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width:1489px) {
  .l-calendar-content {
    padding: 0 24px;
  }
}
