@media (min-width: 1490px) {
  .l-theme-list {
    height: 590px;
    width: 445px;
    border: 1px solid rgba(119,119,119, 0.3);
    margin-top: 112px;
  }

  .l-theme-list_box {
    padding-top: 35px;
    padding-bottom: 0;
    width: 418px;
    margin-right: auto;
    margin-left: auto;
  }

  .l-theme-list__button {
    width: 359px;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.7;

    &:hover {
      transition: 0.2s linear;
      opacity: 1;
    }
  }

  .c-theme-list__name {
    font-size: 24px;
  }

}
