.c-section__title {
  color: $calendar-title-color;
  font-family: 'Exo 2', sans-serif;
  font-size: 25px;

  &::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 275px;
    margin-top: 12px;
    margin-bottom: 23px;
    background-color: $secondary-white-color;
    opacity: 0.2;
  }
}
