.l-calendar__box::after {
  content: '';
  display: block;
  height: 1px;
  width: 275px;
  background-color: $secondary-white-color;
  opacity: 0.2;
  margin: 56px auto 42px;
}

.l-calendar__box:last-of-type::after {
  content: '';
  margin: 0;
  height: 0;
  width: 0;
}
