.l-forum-section_indent {
  padding-top: 35.75px;
  padding-bottom: 104px;
}

.l-forum {
  padding-top: 35.75px;
  padding-bottom: 50px;
}

.c-forum__title {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 39px;
}

.l-forum__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-forum__item {
  position: relative;
  list-style: none;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 0.2s linear;

  &:after {
    content: '';
    display: block;
    position: absolute;
    background: linear-gradient(to top, rgb(0, 0, 0,), rgb(42, 42, 42,));
    top: 0;
    left: 0;
    width: 300px;
    height: 250px;
    opacity: 0.75;
    transition: 0.2s linear;
  }

  &:hover {
    box-shadow: 0 7px 24px 0 rgba(0, 0, 0, 0.18);
  }

  &:nth-child(n+6) {
    margin-bottom: 0;
  }

  &:hover:after {
    opacity: 0;
  }
}
@media(max-width:767px) {
  .c-forum__image {
    display: block;
    max-width: 300px;
    height: 250px;
  }
}

.c-forum__inbox {
  position: absolute;
  border: 1px white solid;
  width: 280px;
  height: 230px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $primary-white-color;
  text-align: center;
  line-height: 230px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  font-family: $primary-font-stack;
  z-index: 1;
}

.c-forum__icon {
  fill: #1b2120;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
