@media (min-width: 768px) {
  .forum {
    padding-bottom: 80px;
    padding-top: 75px;
  }

  .forum__title {
    margin-bottom: 80px;
    font-size: 30px;
  }

  .forum__item {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .forum__list {
    margin-bottom: 17px;

    &:nth-child(n+5) {
      margin-bottom: 0;
    }
  }

  .forum__image {
    width: 352px;
    height: 260px;
  }

  .forum__inbox {
    width: 332px;
    height: 240px;
    font-size: 14px;
  }

  .forum__background {
    width: 352px;
    height: 260px;
  }
}
