/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat-v12-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/montserrat-v12-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v12-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/montserrat-v12-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/montserrat-v12-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/montserrat-v12-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/montserrat-v12-latin-800.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/montserrat-v12-latin-900.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
    url('../fonts/montserrat-v12-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/montserrat-v12-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/montserrat-v12-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/montserrat-v12-latin-900.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

/* exo-2-regular - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/exo-2-v4-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Exo 2'), local('Exo2-Regular'),
    url('../fonts/exo-2-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/exo-2-v4-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/exo-2-v4-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/exo-2-v4-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/exo-2-v4-latin-regular.svg#Exo2') format('svg');
  /* Legacy iOS */
}

/* exo-2-500 - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/exo-2-v4-latin-500.eot');
  /* IE9 Compat Modes */
  src: local('Exo 2 Medium'), local('Exo2-Medium'),
    url('../fonts/exo-2-v4-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/exo-2-v4-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/exo-2-v4-latin-500.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/exo-2-v4-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/exo-2-v4-latin-500.svg#Exo2') format('svg');
  /* Legacy iOS */
}

/* exo-2-700 - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/exo-2-v4-latin-700.eot');
  /* IE9 Compat Modes */
  src: local('Exo 2 Bold'), local('Exo2-Bold'),
    url('../fonts/exo-2-v4-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/exo-2-v4-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/exo-2-v4-latin-700.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/exo-2-v4-latin-700.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/exo-2-v4-latin-700.svg#Exo2') format('svg');
  /* Legacy iOS */
}

/* exo-2-800 - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/exo-2-v4-latin-800.eot');
  /* IE9 Compat Modes */
  src: local('Exo 2 Extra Bold'), local('Exo2-ExtraBold'),
    url('../fonts/exo-2-v4-latin-800.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/exo-2-v4-latin-800.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/exo-2-v4-latin-800.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/exo-2-v4-latin-800.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/exo-2-v4-latin-800.svg#Exo2') format('svg');
  /* Legacy iOS */
}

/* exo-2-900 - latin */
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/exo-2-v4-latin-900.eot');
  /* IE9 Compat Modes */
  src: local('Exo 2 Black'), local('Exo2-Black'),
    url('../fonts/exo-2-v4-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/exo-2-v4-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/exo-2-v4-latin-900.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/exo-2-v4-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/exo-2-v4-latin-900.svg#Exo2') format('svg');
  /* Legacy iOS */
}

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v15-latin-300.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/open-sans-v15-latin-300.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-300.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-300.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-300.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-300.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v15-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg');
  /* Legacy iOS */
}

/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v15-latin-600.eot');
  /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/open-sans-v15-latin-600.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-600.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-600.woff') format('woff'),
    /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-600.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-600.svg#OpenSans') format('svg');
  /* Legacy iOS */
}
